#!/usr/bin/env ruby

compile '/static/*' do
end

compile '/stylesheet/' do
end

compile '*' do
  unless item.binary?
    filter :erb
    filter :maruku
    layout item[:layout] || 'default'
  end
end

route '/stylesheet/' do
  '/style.css'
end

route '/static/*' do
    item.identifier[7..-2]
end

route '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    item.identifier + 'index.html'
  end
end

layout '*', :erb
